*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html , body, #back{
    height: 100%;
    width: 100%;
}

.nav-tabs{
    height: inherit;
    width: 20%;
    padding-left: 30px;
    background-color: #fff;
}

#container {
    width: 98%;
    display: flex;
    background-color:#EEF1F8;
}

#carouselControls  {
    height: 100%;
    width: 100%;
}
.carousel-items , .carousel-inner {
    min-height: 100%;
    width: 100%;
}


.col-md-9 {
    flex: 0 0 auto;
    width: 60%;
}

.rightNav{
    width: 32%;
}

#profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
}

#detail p {
    margin: 0%;
}

.productContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2%;
    background-color: #fff;
}
table {
    border: none;
    border-spacing: 1em;
}

.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
}

#links{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.btn-link{
    text-decoration: none;
}

.productNav{
    width: 100%;
}

#search {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    text-decoration: inherit;
  padding: 5px;
  font-size: 18px;
  line-height:24px;
  color: rgb(146, 141, 141);
  border:1px solid rgb(179, 178, 178);
  border-radius:4px;
}

.navTabs{
    height: 60px;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 100%;
}

.Imgcontainer{
    height: 100%;
    width: 100%;
}

th p{
    padding: 8px;
}

caption {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.variant{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    margin-top: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(48, 47, 47);
    padding: 5px;
  }

  #foot{
      width: 100%;
      display: flex;
      justify-content: flex-end;
  }

  .btn-hover:hover{
      transform: scale(1.01);
      background: rgb(171, 175, 177);
  }

  .carousel-item{
      justify-content: space-evenly;
  }

  .input-group-addon.success {
      width: 70px;
      text-align: center;
      line-height: 30px;
    border-color: rgb(76, 77, 76);
  }

  label{
      padding: 6px;
  }